<!DOCTYPE HTML>
<html>
	<head>
		<title>Chat app</title>
		<meta charset="utf-8">
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/index.js" async></script>
		<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
	</head>
	<body>
		<div class='logout'>
			<p id='username'><%= username %></p>
			<form action="/logout?_method=DELETE" method="POST">
				<button type="submit">Log out</button>
			</form>
		</div>

		<div id="friendsDiv">
			<ul id="friendList">
			</ul>
		</div>

		<div id="friendReqDiv">
			<ul id="friendReqList">
			</ul>
		</div>

		<div class='chat'>
			<div class='messages'>
				<ul id="recordings">
				</ul>
			</div>
			<div id="status">
			</div>
			<button id="record">Record</button>
		</div>

		<div class='addFriend'>
			<form action="/addFriend" method="POST" id="friendForm">
				<div id="errorDiv"></div>
				<input type="text" name="friendName" id="friendInput" >
				<button type="submit" id="friendBtn">Add friend</button>
			</form>
		</div>

		<br>

	</body>
</html>
