html {
	height: 100%;
}

body {
	height: 100%;
}

ul {
	list-style-type: none;
}

div.logout {
	/* float: right; */
	margin: auto 1% auto auto;
}

p#username {
	text-align: center;
	margin-top: 0;
	margin-bottom: 5%;
}

.chat {
	position: relative;
	margin: 7% auto 2% auto;
	height: 40%;
	overflow-y: auto;
}

.utils {
	margin-bottom: 10px;
}

#status {
	height: 20px;
}

.selected {
	background: aqua;
}

li.right {
	text-align: right;
}

li.left {
	text-align: left;
}

body {
	margin: 2% 2% 2% 2%;
}

li {
}
